* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "my_font";
  src: url("Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "font_bold";
  src: url("Montserrat/static/Montserrat-ExtraBold.ttf");
}
body {
  font-family: "my_font", sans-serif;
  background-color: black;
  overflow-x: hidden;
}

nav {
  font-family: "my_font", sans-serif;
  padding-block: 0.8rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  color: white;
}
nav .left-side {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
nav .right-side .topnav_button {
  cursor: pointer;
}
nav .nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
nav .nav_links span {
  font-size: 0.8125rem;
  font-weight: 400;
  cursor: pointer;
}
nav .nav_links span a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
nav .nav_links span a i {
  font-size: 7px;
}
nav .cal_buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav .cal_buttons span:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
nav .cal_buttons span:nth-of-type(1) a {
  text-decoration: none;
  color: white;
}
.Schedule_button {
  width: 180px;
  height: 50px;
  background-color: #d4fd52;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
}
.Schedule_button::first-letter {
  font-size: 1rem;
}

.menu_button {
  display: none;
  border: 2px solid #918f8f;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 10px 15px;
  color: #918f8f;
}

@media (max-width: 1050px) {
  nav .cal_buttons .Schedule_button {
    width: 130px;
    font-size: 12px;
  }
}

.about-section {
  position: absolute;
  z-index: 4;
  background-color: white;
  padding: 3rem 4rem;
  display: none;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.about-section div {
  width: 22.2222222222%;
  height: 300px;
  transition: background-color 0.3s ease-in-out;
}
.about-section .about {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.about-section .about img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.about-section .about .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-section .about .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.about-section .about:hover {
  background-color: #eee;
}
.about-section .process {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.about-section .process img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.about-section .process .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-section .process .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.about-section .process:hover {
  background-color: #eee;
}
.about-section .services {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.about-section .services img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.about-section .services .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-section .services .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.about-section .services:hover {
  background-color: #eee;
}
.about-section .info_div {
  border-left: 2px solid #d8d8d8;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.about-section .info_div div {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 20px 10px 10px 20px;
  border-radius: 15px;
}
.about-section .info_div div:hover {
  background-color: #eee;
}
.about-section .info_div div h3 {
  color: black;
}
.about-section .info_div div p {
  color: #8b8b8b;
  font-size: 15px;
}

.services_section {
  position: absolute;
  z-index: 4;
  background-color: white;
  padding: 3rem 4rem;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.services_section div {
  width: 22.2222222222%;
  height: 300px;
  transition: background-color 0.3s ease-in-out;
}
.services_section .website_design {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.services_section .website_design img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.services_section .website_design .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services_section .website_design .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.services_section .website_design:hover {
  background-color: #eee;
}
.services_section .paid_ads_managemant {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.services_section .paid_ads_managemant img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.services_section .paid_ads_managemant .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services_section .paid_ads_managemant .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.services_section .paid_ads_managemant:hover {
  background-color: #eee;
}
.services_section .search_engine_optimization {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.services_section .search_engine_optimization img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.services_section .search_engine_optimization .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services_section .search_engine_optimization .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.services_section .search_engine_optimization:hover {
  background-color: #eee;
}
.services_section .info_div {
  border-left: 2px solid #d8d8d8;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.services_section .info_div div {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 20px 10px 10px 20px;
  border-radius: 15px;
}
.services_section .info_div div:hover {
  background-color: #eee;
}
.services_section .info_div div h3 {
  color: black;
}
.services_section .info_div div p {
  color: #8b8b8b;
  font-size: 15px;
}

.resources_section {
  position: absolute;
  z-index: 4;
  background-color: white;
  padding: 3rem 4rem;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.resources_section div {
  width: 22.2222222222%;
  height: 300px;
  transition: background-color 0.3s ease-in-out;
}
.resources_section .contractor {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.resources_section .contractor img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.resources_section .contractor .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resources_section .contractor .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.resources_section .contractor:hover {
  background-color: #eee;
}
.resources_section .mini_courses {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.resources_section .mini_courses img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.resources_section .mini_courses .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resources_section .mini_courses .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.resources_section .mini_courses:hover {
  background-color: #eee;
}
.resources_section .weekly_video_content {
  border-radius: 25px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0px 0px 10px;
}
.resources_section .weekly_video_content img {
  border-radius: 10px;
  width: 90%;
  height: 50%;
  object-fit: cover;
}
.resources_section .weekly_video_content .text {
  width: 90%;
  height: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resources_section .weekly_video_content .text p {
  color: #8b8b8b;
  font-size: 15px;
  text-wrap: balance;
  line-height: 1.3;
}
.resources_section .weekly_video_content:hover {
  background-color: #eee;
}
.resources_section .info_div {
  border-left: 2px solid #d8d8d8;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.resources_section .info_div div {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 20px 10px 10px 20px;
  border-radius: 15px;
}
.resources_section .info_div div:hover {
  background-color: #eee;
}
.resources_section .info_div div h3 {
  color: black;
}
.resources_section .info_div div p {
  color: #8b8b8b;
  font-size: 15px;
}

.mobile_navbar {
  display: none;
}

.hero_section {
  width: 100%;
  height: max-content;
  position: relative;
}
.hero_section .video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero_section .video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 73.22%, #000 100%), radial-gradient(85.79% 84.46% at 94% -2.63%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
}
.hero_section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Full coverage ke liye */
}
.hero_section article {
  width: 60%;
  position: absolute;
  top: 0;
  z-index: 2;
  color: white;
  margin: clamp(2rem, 1vw, 5rem) 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.hero_section article h4 {
  font-weight: bold;
  font-size: 14px;
  color: #959ca4;
  text-transform: uppercase;
}
.hero_section article h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-size: clamp(2rem, 7vw, 4rem);
  font-weight: 400;
  text-wrap: balance;
  letter-spacing: 2px;
}
.hero_section article ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.hero_section article ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero_section article .buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.hero_section article .buttons .btn {
  width: 180px;
  height: 50px;
  background-color: #d4fd52;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  position: relative;
}
.hero_section article .buttons .btn::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: rgba(212, 253, 82, 0.5);
  border-radius: 8px;
  transition: all 0.5s;
  z-index: 0;
  opacity: 0;
}
.hero_section article .buttons .btn:hover::before {
  z-index: 5;
  opacity: 1;
}
.hero_section article .buttons .video_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero_section article .buttons .video_btn a {
  color: white;
}
.hero_section .stats {
  display: flex;
  align-items: center;
}
.hero_section .stats div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 15px;
  padding-right: 10px;
}

section.services_categories {
  margin: clamp(1rem, 10vw, 5rem) auto 10px auto;
  border-radius: 20px;
  padding-block: 5rem;
  background-color: #19191c;
  width: 85%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.services_categories p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  text-transform: uppercase;
}
section.services_categories h1 {
  margin-block: 1.2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: clamp(1.8rem, 50%, 2.5rem);
  text-transform: uppercase;
  font-weight: 500;
}
section.services_categories div.all_services {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
}
section.services_categories div.all_services div {
  width: 300px;
  padding: 10px 45px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
  outline: 2px solid rgb(130, 130, 130);
  transition: outline 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}
section.services_categories div.all_services div:hover {
  outline: 2px solid #d4fd52;
  transition: outline 0.5s;
}
section.services_categories div.all_services div:nth-of-type(1) {
  background-image: url("assets/floor.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.services_categories div.all_services div:nth-of-type(2) {
  background-image: url("assets/AC-duck.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.services_categories div.all_services div:nth-of-type(3) {
  background-image: url("assets/industry-plumbing-texture.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.services_categories .divider {
  margin-block: 4rem;
  width: 90%;
  background-image: url("https://hookagency.com/wp-content/themes/hook-theme-child/src/img/divider-fade-white.svg");
  border: none;
  height: 1px;
}

.endorsement-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 89%;
  padding: 20px;
}
@media (max-width: 1068px) {
  .endorsement-section {
    flex-direction: column;
    text-align: center;
  }
}

.endorsement-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.endorsement-title {
  font-family: "my_font", sans-serif;
  font-size: clamp(1rem, 2vw, 1.7rem);
  font-weight: bold;
}
@media (max-width: 800px) {
  .endorsement-title {
    text-align: center;
  }
}

.endorsement-list {
  list-style-image: url("https://hookagency.com/wp-content/themes/hook-theme-child/src/img/checkmark-icon-lime.svg");
  padding: 0 0 0 20px;
  margin: 20px 0;
}
.endorsement-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

.testimonial-box {
  background-color: #000000;
  padding: 30px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
.testimonial-box .testimonial-text {
  flex: 1;
  font-size: 14px;
}
.testimonial-box .testimonial-text p:nth-of-type(1) {
  font-family: "my_font", sans-serif;
  font-size: 10px;
}
.testimonial-box .testimonial-author {
  font-family: "my_font", sans-serif;
  font-weight: bold;
  margin-top: 15px;
}
.testimonial-box .testimonial-role {
  font-size: 12px;
  color: #cccccc;
}
.testimonial-box .testimonial-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.endorsement-video {
  max-width: 400px;
  text-align: center;
}
@media (max-width: 850px) {
  .endorsement-video {
    max-width: 100%;
  }
}
.endorsement-video .video-thumbnail {
  position: relative;
}
.endorsement-video .video-thumbnail img {
  width: 100%;
  border-radius: 12px;
}
.endorsement-video .video-thumbnail .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

.company_logos {
  position: relative;
  margin: 0px auto;
  width: 90%;
  padding-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.company_logos::before, .company_logos::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
}
.company_logos::before {
  left: 0;
  background: linear-gradient(to right, black 0%, transparent 100%);
}
.company_logos::after {
  right: 0;
  background: linear-gradient(to left, black 0%, transparent 100%);
}
.company_logos div {
  width: 130px;
  height: 50px;
}
.company_logos div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 800px) {
  .company_logos {
    margin: 3rem auto;
  }
}

.dark-theme-services {
  margin-block: 2rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dark-theme-services p {
  font-weight: 800;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #adb5bd;
}
.dark-theme-services h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  text-transform: uppercase;
}
.dark-theme-services h1 span {
  color: #d4fd52;
}
.dark-theme-services ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.dark-theme-services ul li {
  padding: 15px;
  border-radius: 4px;
  background-color: #19191c;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;
}
.dark-theme-services ul li .fa-solid {
  color: #d4fd52;
}
@media (max-width: 800px) {
  .dark-theme-services ul {
    flex-direction: column;
  }
}

.custom-website-section {
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
}
.custom-website-section .stable-slider {
  margin: clamp(6rem, 10vw, 8rem) auto 5rem auto;
  color: white;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 84%;
  height: 500px;
}
.custom-website-section .stable-slider > div {
  width: 50%;
}
.custom-website-section .stable-slider .image {
  border-radius: 10px;
  height: 100%;
  background-image: url("assets/web-design.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.custom-website-section .stable-slider .image span {
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 8px 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7.5px);
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 22;
  /* Light transparent background */
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}
.custom-website-section .stable-slider .image span button {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  transition: background-color 0.5s ease-in-out;
}
.custom-website-section .stable-slider .image span button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
.custom-website-section .stable-slider .content {
  width: 50%;
  height: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  /* Styling for heading */
}
.custom-website-section .stable-slider .content h1 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 100;
}
.custom-website-section .stable-slider .content p {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.custom-website-section .stable-slider .content .benefits-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}
.custom-website-section .stable-slider .content .table-cell {
  padding: 15px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.custom-website-section .stable-slider .content .table-cell:last-child,
.custom-website-section .stable-slider .content .table-cell:nth-child(even) {
  border-right: none;
  /* Remove border from last column */
}
.custom-website-section .stable-slider .content .table-cell:nth-of-type(7),
.custom-website-section .stable-slider .content .table-cell:nth-of-type(8) {
  border-bottom: none;
}
.custom-website-section .stable-slider .content .table-heading {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-bottom: 30px;
}
.custom-website-section .stable-slider .content .underline::after {
  content: "";
  position: absolute;
  background-image: url("assets/underline-decal-lime.webp");
  background-repeat: no-repeat;
  width: 100%;
  height: 20px;
  left: 10px;
  bottom: 15px;
}
.custom-website-section .stable-slider .content .arrow::after {
  content: "";
  color: yellowgreen;
  font-size: 24px;
  position: absolute;
  left: 100px;
  width: 30%;
  height: 50px;
  background-image: url("assets/arrow-decal-lime.webp");
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .custom-website-section .stable-slider {
    width: 90%;
    height: max-content;
    flex-direction: column;
  }
  .custom-website-section .stable-slider .image {
    width: 100%;
    padding-block: 10rem;
  }
  .custom-website-section .stable-slider .content {
    width: 100%;
  }
}
.custom-website-section .slider_button {
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.custom-website-section .slider_button span {
  border: 1px solid #efefef;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}
.custom-website-section .slider_button span:hover {
  background-color: black;
}

.get-started-section {
  padding: 5rem 0 7rem 0;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.get-started-section .get-started-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.get-started-section .get-started-section__content p:nth-of-type(1) {
  color: #5e6a75;
  text-transform: uppercase;
  font-weight: bold;
}
.get-started-section .get-started-section__content h1 {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: clamp(1.2rem, 8vw, 2.5rem);
  font-weight: 100;
}
.get-started-section .get-started-section__content p:nth-of-type(2) {
  text-align: center;
  font-weight: 400;
  width: clamp(350px, 50%, 650px);
  font-size: 14px;
  line-height: 22.5px;
}
.get-started-section .get-started-section__accordion-section {
  width: 85%;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.get-started-section .get-started-section__accordion-section > div {
  width: 50%;
}
.get-started-section .get-started-section__accordion-section .accordion {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.get-started-section .get-started-section__accordion-section .accordion-item {
  border-bottom: 1px solid #ddd;
}
.get-started-section .get-started-section__accordion-section .accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  color: #bbb;
  transition: color 0.3s;
  text-align: left;
}
.get-started-section .get-started-section__accordion-section .accordion-header:hover {
  color: black;
}
.get-started-section .get-started-section__accordion-section .accordion-content {
  padding: 0px 15px;
  font-size: 12px;
  color: #000;
  background: #f4f4f4;
  text-align: left;
  line-height: 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.get-started-section .get-started-section__accordion-section .active {
  max-height: 300px;
  padding-block: 20px;
}
.get-started-section .get-started-section__accordion-section .image {
  flex: 0 0 50%;
}
.get-started-section .get-started-section__accordion-section .image img {
  display: block;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 960px) {
  .get-started-section .get-started-section__accordion-section {
    flex-direction: column-reverse;
  }
  .get-started-section .get-started-section__accordion-section > div {
    width: 100%;
  }
  .get-started-section .get-started-section__accordion-section .accordion-header {
    font-size: 1rem;
  }
}

.pricing-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.pricing-section .pricing-section_intro-heading {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricing-section .pricing-section_intro-heading h4 {
  color: #959ca4;
  font-family: serif;
  letter-spacing: 1.3px;
}
.pricing-section .pricing-section_intro-heading h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.3rem;
  font-weight: 100;
}
.pricing-section .pricing-section_intro-heading h1 span {
  color: #d4fd52;
}
.pricing-section .pricing-section_intro-heading p {
  padding-inline: 21rem;
  font-size: 0.9rem;
  color: #FFFAFA;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 980px) {
  .pricing-section .pricing-section_intro-heading h1 {
    padding-inline: 10px;
    font-size: 2rem;
  }
  .pricing-section .pricing-section_intro-heading p {
    padding-inline: 20px;
    text-wrap: balance;
  }
}
.pricing-section .pricing-section_cards-section {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}
.pricing-section .pricing-section_cards-section .pricing-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 2.5px solid rgba(93, 93, 97, 0.2823529412);
  border-left: 2.5px solid rgba(93, 93, 97, 0.2823529412);
  border-radius: 15px;
  background-color: #19191c;
  padding: 2rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 2rem;
}
.pricing-section .pricing-section_cards-section .pricing-card .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  font-weight: 100;
}
.pricing-section .pricing-section_cards-section .pricing-card .price sub {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  color: #5e6a75;
}
.pricing-section .pricing-section_cards-section .pricing-card ul {
  list-style: none;
}
.pricing-section .pricing-section_cards-section .pricing-card ul li {
  border-bottom: 1px solid rgba(93, 93, 97, 0.2823529412);
  font-size: 12px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.pricing-section .pricing-section_cards-section .pricing-card ul li i {
  color: #d4fd52;
  font-size: 15px;
}
.pricing-section .pricing-section_cards-section .pricing-card ul li p {
  font-size: 12px;
}
.pricing-section .pricing-section_cards-section .pricing-card ul li:last-child {
  border: none;
}
.pricing-section .pricing-section_cards-section .pricing-card:nth-of-type(3) {
  border: 1.5px solid rgba(93, 93, 97, 0.2823529412);
  border-radius: 15px;
  position: relative;
  margin-inline: 2px;
}
.pricing-section .pricing-section_cards-section .pricing-card:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  background: linear-gradient(180deg, #d4fd52 0, #19191c 100%);
  border-radius: 13px;
  z-index: -1;
}
.pricing-section .pricing-section_cards-section .pricing-card:nth-of-type(4) {
  border: 1.5px solid rgba(93, 93, 97, 0.2823529412);
  border-radius: 15px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (max-width: 1033px) {
  .pricing-section .pricing-section_cards-section {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .pricing-section .pricing-section_cards-section .pricing-card {
    width: 100%;
    border-radius: 15px !important;
  }
}
.pricing-section .contact_link {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
.pricing-section .contact_link h1 {
  font-weight: bold;
  font-size: clamp(1rem, 3vw, 2rem);
}
.pricing-section .contact_link button {
  background-color: transparent;
  font-size: 1.1rem;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
}
@media (max-width: 600px) {
  .pricing-section .contact_link button {
    padding: 10px;
    font-size: 0.9rem;
  }
}
.pricing-section .stats_pricing-section {
  margin: 0px auto 3rem auto;
  color: white;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 50%;
  font-weight: bold;
}
@media (max-width: 900px) {
  .pricing-section .stats_pricing-section {
    width: 70%;
    margin-block: 3rem 6rem;
  }
}
.pricing-section .stats_pricing-section div {
  padding-inline: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
  line-height: 1.5;
}
@media (max-width: 900px) {
  .pricing-section .stats_pricing-section div {
    font-size: 10px;
    padding: 0;
    text-align: center;
  }
  .pricing-section .stats_pricing-section div img {
    width: 30px;
  }
}
@media (max-width: 600px) {
  .pricing-section .stats_pricing-section div {
    font-size: 7px;
    text-align: left;
  }
}

.contact-section {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem 5rem;
  padding-inline: clamp(1rem, 5.5vw, 7rem);
}
.contact-section > div {
  width: 50%;
}
@media (max-width: 950px) {
  .contact-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .contact-section > div {
    width: 100%;
  }
}
.contact-section .contact-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}
.contact-section .contact-section__content h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  font-size: clamp(1.2rem, 7vw, 3rem);
}
.contact-section .contact-section__content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #464647;
  font-family: sans-serif;
}
.contact-section .contact-section__content button {
  width: 180px;
  height: 50px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 950px) {
  .contact-section .contact-section__content {
    align-items: center;
  }
}
.contact-section .contact-section__pictures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.contact-section .contact-section__pictures img:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}
.contact-section .contact-section__pictures img:nth-of-type(2) {
  grid-column: 1/4;
  grid-row: 2/3;
}
.contact-section .contact-section__pictures img:nth-of-type(3) {
  grid-column: 4/7;
  grid-row: 1/3;
}
.contact-section .contact-section__pictures img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.question-section {
  background-color: white;
  border: 1px solid transparent;
  padding-bottom: 2rem;
}
.question-section .faq-section {
  display: flex;
  align-items: center;
  gap: 3rem;
  background: #f6f6f6;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 40px auto;
  position: relative;
  z-index: 1;
}
.question-section .faq-section > div {
  width: 50%;
}
@media (max-width: 768px) {
  .question-section .faq-section {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }
}
.question-section .faq-section .faq-video {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.question-section .faq-section .faq-video img {
  width: 100%;
  border-radius: 12px;
}
.question-section .faq-section .faq-video .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .question-section .faq-section .faq-video {
    width: 100%;
    height: 60%;
  }
}
.question-section .faq-section .faq-content h2 {
  color: black;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.question-section .faq-section .faq-content p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
.question-section .faq-section .faq-content .faq-button {
  display: inline-block;
  background: transparent;
  border: 1px solid black;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: 0.3s;
}
.question-section .faq-section .faq-content .faq-button:hover {
  background: black;
  color: white;
}
@media (max-width: 768px) {
  .question-section .faq-section .faq-content {
    width: 100%;
    height: 40%;
  }
}
@media (max-width: 768px) {
  .question-section {
    padding-bottom: 4rem;
  }
}
.question-section .black-shadow {
  width: 100%;
  box-shadow: 0 0 0 200px black;
}

aside {
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 999999;
  width: 30%;
  height: auto;
  background-color: #212529;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  transition: inset 0.7s ease-in-out;
  padding: 20px 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 900px) {
  aside {
    width: 100%;
  }
}
aside .all_elements {
  margin: 0rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 1200px) {
  aside .all_elements {
    height: 80%;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  aside .all_elements {
    margin-block: 2rem;
  }
}
aside .nav_links_aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 70vh;
}
aside .dropdown .dropdown-heading_services, aside .dropdown .dropdown-heading_about, aside .dropdown .dropdown-heading_resources {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
aside .dropdown .dropdown-heading_services span, aside .dropdown .dropdown-heading_about span, aside .dropdown .dropdown-heading_resources span {
  font-size: 20px;
}
aside .dropdown .dropdown_content_services, aside .dropdown .dropdown_content_about, aside .dropdown .dropdown_content_resources {
  display: none;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 5px;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
aside .fa-xmark {
  align-self: flex-end;
  border: 3px solid #404040;
  width: 50px;
  aspect-ratio: 1/1;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
aside .Schedule_intro_call {
  width: 300px;
  height: 50px;
  background-color: #d4fd52;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

@media (max-width: 1200px) {
  nav {
    padding: 0.8rem 4rem;
    gap: 1rem;
  }
  nav .nav_links {
    gap: 1rem;
  }
  nav .cal_buttons {
    gap: 0rem;
    gap: 0.8rem;
  }
  nav .cal_buttons span:nth-of-type(1) {
    width: 150px;
    gap: 0.1rem;
  }
  nav .cal_buttons button {
    width: 200px;
  }
  .side_nav {
    display: none;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  section.services_categories .all_services {
    width: 100%;
    flex-direction: column !important;
  }
  section.services_categories .all_services div {
    width: 50% !important;
  }
}
@media (max-width: 980px) {
  nav {
    gap: 5rem;
  }
  nav .logo img {
    width: 140px;
  }
  nav .nav_links {
    display: none;
  }
  nav .cal_buttons button {
    width: 150px;
  }
  nav .cal_buttons .menu_button {
    display: block;
  }
  .side_nav {
    display: none;
    width: 70vw;
    position: absolute;
    inset: 0;
    z-index: 3;
  }
  .hidden {
    display: none !important;
  }
  .hero_section article {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-inline: 0rem;
  }
  .hero_section article ul {
    font-size: 14px;
    text-align: left;
  }
  .hero_section article .buttons {
    flex-direction: column;
  }
  .hero_section article .stats {
    padding-inline: 1rem;
    gap: 1rem;
    align-items: flex-start;
  }
  .hero_section article .stats div {
    font-size: 10px;
    text-align: left;
  }
  section.services_categories {
    width: 90%;
    margin-top: 1rem;
  }
  section.services_categories div.all_services {
    padding-inline: 1.2rem;
    flex-direction: column;
    width: 90%;
  }
  section.services_categories div.all_services div {
    width: 100%;
    padding: 10px 10px;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  nav .right-side {
    display: none;
  }
  .mobile_navbar {
    padding-block: 0.7rem;
    padding-inline: 1.8rem;
    position: fixed;
    bottom: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .mobile_navbar button {
    background-color: #d4fd52;
    color: black;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
  }
  .mobile_navbar .menu_button {
    cursor: pointer;
  }
  .side_nav {
    display: none !important;
    position: absolute;
    inset: 0;
    z-index: 3;
    display: flex;
    width: 95vw;
    height: 100vh;
    padding: 10px;
  }
  .side_nav .menu_button {
    color: rgb(43, 43, 43);
  }
  .hero_section {
    height: 100vh;
  }
  .hero_section article ul {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .hero_section article {
    gap: 5rem;
  }
  .hero_section article h4 {
    font-size: 1rem;
    color: #888686;
  }
  .hero_section article h1 {
    font-size: 2.5rem;
    font-weight: bold;
    width: 80%;
  }
  .hero_section article ul {
    padding-inline: 2rem;
    line-height: 1.6;
  }
  .hero_section article .buttons {
    gap: 2rem;
  }
  .hero_section article .stats {
    gap: 0;
    justify-content: center;
  }
  .hero_section article .stats img {
    align-self: flex-start;
    width: 20px;
  }
  .hero_section article .stats div {
    font-size: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
